body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

a, button {
  cursor: pointer;
}

button {
  background-color: #0000;
  border: none;
}