body {
    padding-right: 0;
}

/* Pen-specific styles */
html, body, section {
  height: 100%;
}

#fl {
  flex-direction: column;
  justify-content: center;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

.left {
    padding: 1em;
    text-align: left;
}

.right {
    padding: 1em;
    text-align: right;    
}

.parent {
    display: flex;
    margin: 1em 0;
    align-items: center;
    flex: 1;
}

#parent2, ._l {
    flex-grow: 1;
}

.img {
    cursor: zoom-in;
    margin-top: 2em;
    column-count: 4;
    column-gap: 1em;
}

.imgs {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%; 
    border-radius: 6px;
    filter: none;
    -webkit-filter: grayscale(0);
}

.imgs:hover {
    filter: grayscale(0.6);
    -webkit-filter: grayscale(0.6);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    background-color: #FFFFFF;
    padding: 3rem 3rem 3rem 3rem;
    margin-left: 13rem;
    margin-right: 13rem;
    border-radius: 11px;
    margin-top: -3rem;
}

.modal-content {
    height: auto;
    min-height: 100%;
    background-color: #EEEEEE !important;
    border: 1px solid #EEEEEE !important;
    border-radius: 0 !important;
}

.modal {
    width: auto;
}

.imgmodal {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btn_back {
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 17px !important;
    color: #333 !important;
    text-align: left !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
    letter-spacing: -.4px !important;
    border-radius: 20px !important;
}

.btn_back:hover {
    background-color: #D3D3D3 !important;
    border-color: #D3D3D3 !important;
}

.iconArrow {
    width: 1.875em !important;
    color: #333 !important;
}

.btn_upload {
    color: #333333 !important;
    background-color: #efefef !important;
    border-color: #efefef !important;
    font-size: 17px !important;
    font-weight: 700 !important;
}

.btn_upload:hover {
    background-color: #E2E2E2 !important;
    border-color: #E2E2E2 !important;
}

.modal-header {
    border-bottom: 1px solid #EEEEEE !important; 
}

.btn-danger {
    color: #FFFFFF;
    background-color: #BD081C !important;
    border-color: #BD081C !important;
    font-weight: 700 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.btn-danger:hover {
    background-color:#AD081B !important;
    border-color: #AD081B !important;
}

.btn_puntos {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 25px !important;
}

.btn_puntos:hover {
    background-color: transparent;
    border-color: transparent;
}

.ellip_color {
    color: #8E8E8E !important;
    font-size: 21px;
}

.form-inline .form-control {
    width: 11rem !important;
    background-color: #EFEFEF !important;
    border-color: #EFEFEF !important;
    cursor: pointer;
}

.form-control:hover {
    background-color: #E2E2E2 !important;
    border-color: #E2E2E2 !important;
}

.right {
    float: right !important;
}

.mrgn_top {
    margin-top: 1rem;
}

svg.svg-inline--fa.fa-upload.fa-w-16 {
    color: black;
}

.p_comment {
    font-size: 21px;
    color: #333;
    text-align: left;
    font-weight: 700;
    letter-spacing: -.4px;
    cursor: pointer; 
}

.arrow_icon-comment {
    color: #8e8e8e;
    font-size: 35px;
}

.btn_arrow-comment {
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 30px !important;
    margin-top: -5px;
}

@media (min-width: 576px) { 
.modal-dialog {
    max-width: 100% !important;
    margin: 0 !important;
}
}

@media (min-width: 1200px) { 
.container {
    max-width: 1400px;
}}