 body {
    background-color: #FFFFFF;
    width: 100%;
}

nav {
    padding: 15px 25px !important;
}

.user-avatar {
  width: 27px;
  height: 27px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}


.container {
    max-width: 100%;
}

.mainLogo {
  svg {
    fill: #e60023 !important;
  }
}
.mainLogo img {
  width: 25px;
}

.logo {
    color: #fff;
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: 30px !important;
    margin-top: -0.2rem;
}

.iconSearch {
    font-size: 1.5rem;
}

.svg-inline--fa {
    height: 1.5em;
} 

.form-control {
    background-color: #ced4da;
} 

.svg-inline--fa {
    height: 1em;
}

.main-search {
  flex: 1 1 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.input-group-prepend {
    margin-right: 8px !important;
    margin-left: 10px;
    margin-top: 7px !important;
}
.input-group-prepend {
    margin: 5px 0 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 17px;
        height: 17px;
        color: rgb(99, 99, 99) !important;
    }
}

.inputSearch.input-group {

    &:focus {
        .input-group-prepend {
            display: none;
        }
        input.form-control {
            padding-left: 15px !important;
        }
    }
}

.input-group {
    border-radius: 20px;
    background-color: #EFEFEF;
}

.input-group > .form-control:not(:first-child) {
    height: 48px;
    padding-left: 0;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
ul.navbar-nav {
  width: 100%;
  align-items: center;
}

.input-group>.form-control:not(:first-child) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #959595;
} 
 
.avatar {
    background-color: #979797;
    color: #FFFFFF;
    border-radius: 33px;
    width: 25px;
    position: absolute;
    border-radius: 30px;
}

.name {
    color: #979797;
    margin-left: 31px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Inicio {
   
    border-color: #FFFFFF !important;
    font-weight: 700 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    border-radius: 30px !important;
    cursor: pointer;
    background: rgb(22, 22, 22);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 48px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    a {
      line-height: 0;
      margin: 0 !important;
      color: rgb(248, 248, 248) !important;
    }
}

.Inicio:hover {
    color: rgb(14, 13, 13) !important;
    background-color: #F2F2F2 !important;
    border-color: #fff !important;
}

.Following {
  color: #333 !important;
}

.Following, .Avatar, .Comment, .Bell, .Points {
    color: 	#979797;
    border-color: #FFFFFF !important;
    font-weight: 700 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    border-radius: 30px !important;
    cursor: pointer;
} 

.Following:hover, .Avatar:hover, .Comment:hover, .Bell:hover, .Points:hover {
    color: 	#979797 !important;
    background-color: #F2F2F2 !important;
    border-color: #fff !important;
}

.divider {
    border: 0.5px solid rgb(236, 233, 233);;
}

p {
    margin-left: 7px;
}

.avatar {
    background-color: #979797;
    color: #FFFFFF;
    border-radius: 33px;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 30px;
}

.ml-auto {
    margin-top: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin-left: 0.5rem;
}

.bg-light {
    background-color: #FFFFFF !important;
}
@media (max-width: 575.98px) { }

@media (max-width: 767.98px) { }

@media (max-width: 991.98px) {
   
}

@media (max-width: 1199.98px) {  }

